@charset "UTF-8";

body {
    background-image: linear-gradient(to top, #D99F59, #A67153, #733F2D);
}

section#login {
    width: 80vw;
    height: 310px;
}

section > div#imagem{
    float: left;
    width: 40%;
    height: 100%;
}

section > div#formulario{
    float: right;
    width: 60%;
}

div#formulario > p {
    font-size: 1em;
}

